<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title><%= hoop.title %></title>
  <link rel = "stylesheet" href = "/public/bootstrap/bootstrap-theme.min.css">
  <link rel = "stylesheet" href = "/public/bootstrap/bootstrap.min.css">
  <link rel = "stylesheet" href = "/public/bootstrap/bootstrap-theme.min.css">
  <link rel = "stylesheet" href = "/public/global.css">
    <link rel = "stylesheet" href = "/public/css/custom.css">
  <script type = "text/javascript" src = "/public/jquery/jquery-2.1.1.min.js"> </script>
  <script type = "text/javascript" src = "/public/js/page.js"></script>
  <script type = "text/javascript" src = "/public/jquery/jquery-ui.min.js"> </script>
  <script type = "text/javascript" src = "/public/bootstrap/bootstrap.min.js"> </script>
    <link rel="shortcut icon" href="/public/images/favicon.png">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
    body    { padding-top:88px; }
  </style>
</head>

<body>
      <div class = "header_panel"><span class = "hoopla_home">Hoopla<span class = "domain">@<%= domain %></span></span><a href = "/logout"><span class = "logout">Logout</span></a></div>

<div class="container">
  <div class = "row">
    <div class = "col-xs-8 col-xs-offset-2">
      <div class = "row">
        <div class = "col-sm-1">
          <div class="star-holder-page star-holder" data-hoopid = '<%= hoop._id %>' style="width:60px; <% if (plusOnes.indexOf(hoop._id) !== -1) {%><%= 'color:rgb(72, 197, 182);' %><% } %>"><span class="fa fa-plus"></span><span class = "score-holder" style = "font-size:27px;"> <%= hoop.score  %></span></div>
        </div>
        <div class = "col-sm-11 hoop_content">
          <div id = 'hoop_title' data-id = '<%= hoop._id %>' hidden></div>
       <div id="hoop_content" data-id=<%= hoop.commenter %>><a href="<%= '/post/' + hoop._id %>">
              <div>
                <%= hoop.title  %>
              </div>
            </a><div class = "post_body custom_well"><%= hoop.body %></div><div class ="page-commentor">posted by <%= hoop.commenter %> <%= hoop.timestamp %> ago <br>
                <%= hoop.replies.length %> comments</div><hr>
     </div>
   </div>
   <div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-9" style = "padding-bottom:12px;">
     <textarea rows="2" cols="50" style = "width:100%; max-width:96%;margin-left: 10px;padding:4px;" maxlength = '1000' id="la_input"></textarea><br>
      <span class = "loading_button" style = "float:right; margin-right:29px" hidden><img src = "/public/images/loading.gif"></span>
      <a id="la_submit" class="btn btn-default" style = "float:right;margin-bottom:10px;margin-right:18px;"><span class="fa fa-mail-reply"></span> Reply</a>
    </div>
  </div>
      <% for (var i = replies.length-1; i >= 0; i--) { %>
        <div class = "row">
          <div class = "col-xs-1"></div>
          <div class = "col-sm-11">
        <div class="la_body"><%= replies[i].body %></div><div class="la_commentor"><%= replies[i].commenter %> <%= replies[i].timestamp %> ago</div>
        <hr>
      </div>
    </div>

      <% } %>

  </div>
  <div class = "row">
    <div class = "col-xs-12" style = "padding-top:60px;padding-bottom:30px;">
      <div class = "footer" style = "text-align:center;color:rgb(168, 168, 168);">Built with love at Wayfair's Hackathon 2014<br> Carter Wheatley, Emilio Mendoza, Jonathan Reyes, Justin Shiiba, and Kris Salvador</div>
    </div>
  </div>
</div>
</div>
</body>
</html>